<p><%= @recipient.username %>さん</p>

<p>フォロー中の <%= @wikipost.user.username %>さんが局面の解説を編集しました。</p>

<% if (@wikipost.position.strategy) %>
  <%= @wikipost.position.strategy.name %><br>
<% end %>
<tt><pre>
<%= @wikipost.position.to_board.to_s %>
</tt></pre>

<p><%= link_to '編集内容ページへのリンク', ROOT_PATH + '/wikiposts/' + @wikipost.id.to_s %></p>

<p>この通知をこれ以上受け取りたくない場合は、
<%= link_to @wikipost.user.username + 'さんのページ', ROOT_PATH + '/users/' + @wikipost.user_id.to_s %>
より「フォロー解除」ボタンを押すか、
<%= link_to 'マイページ', ROOT_PATH + '/users/mypage' %>
にてフォロー先を管理して下さい。</p>

<%= render :partial => 'signature' %>
