<%
prev_moves_sorted = position.prev_moves.order('stat1_total + stat2_total desc').limit(1)
num_counts = position.appearances.pluck(:num).group_by { |v| v }
num = num_counts.sort[0] ? num_counts.sort[0][0] : nil
board = position.to_board
%>

<table class="invisible">
<tr><td class="invisible">

<div id="position">
<%= board.to_html_table("M").html_safe %>
</div>

<td class="invisible">

<div style="text-align:right;line-height:34px;height:34px;">
<% if (current_user) %>
<div id="watch_1"><%= watch_button(@position, "watch_1") %></div>
<% elsif (position.watchers.length > 0) %>
<%= @position.latest_post_id ? "ウォッチ" : "解説リクエスト" %>数: <span class="dark_red"><%= position.watchers.length.to_s %></span>
<% end %>
</div>

<div id="summary">
<table  , >
<tr><th rowspan=3 width=70>分類<td>手合割<td width=150><%= position.handicap.name %>
<tr><td>戦型<td>
<% if position.strategy %>
<%= position.strategy.name %>
<% else %>
-
<% end %>
<tr><td>手番
<td><%= board.to_teban_text %>

<tr><th rowspan=3>棋譜統計<br>サマリー<td>最頻到達手<td>
<% if num == 0 %>
開始局面
<% elsif (prev_moves_sorted[0]) %>
<%= num %>手目 <%= prev_moves_sorted[0].to_kif %>まで
<% end %>
<tr><td>プロ<td>▲<%= position.stat1_black %>勝 - △<%= position.stat1_white %>勝
<tr><td>オンライン道場<td>▲<%= position.stat2_black %>勝 - △<%= position.stat2_white %>勝

<tr><th rowspan=2>局面評価<br>サマリー<td>現在の結論<td>
<tr><td>AI評価値<td>
</table>
</div>

<div style="text-align:right;margin-top:7px;">
エクスポート: 
<button type="button" onmouseup="prompt('SFEN出力', '<%= position.sfen %>')">SFEN</button>
<button type="button" onmouseup="alert('Not implemented yet')">BOD</button>
<button type="button" onmouseup="alert('Not implemented yet')">CSA</button>
</div>
</table>

<hr>
