<%
prev_moves_sorted = position.prev_moves.order('stat1_total + stat2_total desc').limit(1)
num_counts = position.appearances.pluck(:num).group_by { |v| v }
num = num_counts.sort[0] ? num_counts.sort[0][0] : nil
board = position.to_board
%>

<table class="invisible">
<tr><td class="invisible">

<div id="position">
<%= board.to_html_table("M").html_safe %>
</div>

<td class="invisible">
<div style="text-align:right;line-height:34px;height:34px;">
<% if (current_user) %>
<div id="watch_1"><%= watch_button(@position, "watch_1") %></div>
<% elsif (position.watchers.length > 0) %>
<%= @position.latest_post_id ? "ウォッチ" : "解説リクエスト" %>数: <span class="dark_red"><b><%= position.watchers.length.to_s %></b></span>
<% end %>
</div>

<div id="summary">
<table  , >
<tr><th rowspan=3 width=60>分類<th width=80>手合割<td width=150><%= position.handicap.name %>
<tr><th>戦型<td>
<% if position.strategy %>
<%= position.strategy.name %>
<% else %>
-
<% end %>
<tr><th>手番
<td><%= board.to_teban_text %>

<tr><th rowspan=3>棋譜統計<br>サマリー<th>最頻到達手<td>
<% if num == 0 %>
開始局面
<% elsif (prev_moves_sorted[0]) %>
<%= num %>手目 <%= prev_moves_sorted[0].to_kif %>まで
<% end %>
<tr><th>勝敗(プロ)<td>▲<%= position.stat1_black %>勝 - △<%= position.stat1_white %>勝
<tr><th>勝敗(道場)<td>▲<%= position.stat2_black %>勝 - △<%= position.stat2_white %>勝

<tr><th rowspan=2>局面評価<br>サマリー<th>現在の結論<td><% if position.latest_post_id %><%= position.latest_post.conclusion %><% end %>
<tr><th>評価値平均<td><% if position.latest_post_id %><%= position.latest_post.average_cp %><% end %>
</table>
</div>

<div style="text-align:left;margin-top:7px;">
<input type="button" onclick="window.open('/positions/<%= position.id %>/export','局面エクスポート','width=600,height=700,top='+(screen.height/2-350)+',left='+(screen.width/2-300))" value="エクスポート">　
<a href="https://twitter.com/share" class="twitter-share-button" data-text="
【<%= SITE_NAME %>】 <%= position.handicap.name %><% if position.strategy %>、<%= position.strategy.name %><% end %>、<% if num == 0 %>開始局面<% elsif (prev_moves_sorted[0]) %><%= num %>手目<%= prev_moves_sorted[0].to_kif %>まで<% end %> (<%= board.to_teban_text %>)" data-lang="ja" data-hashtags="shogi"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</table>

<hr>
