<table class="invisible">
<tr><td class="invisible" style="padding-top:0">

<div id="stat_next_moves">
<table>
<tr><th width=60>次の手<th width=50>採用数<th colspan=3 width=150>次の局面
<% moves.each do |move| %>
<tr>
<td><%= move.to_kif %>
<td><%= move.total(@category) %>
<td style="border-right:0;">
<% unless (move.next_position_id == @position.id) %>
<%= move.next_position.win_stat(@category) %>
<td style="border-right:0;"><%= image_tag "icon-pen.png", :style => "vertical-align:middle;", :title => "解説記事あり" if (move.next_position.latest_post_id) %><td><%= link_to 'Go', "/positions/#{move.next_position_id}" %>
<% else %>
<td style="border-right:0;"><td>
<% end %>
<% end %>
</table>
</div>

<td class="invisible" style="padding-top:0">

<div id="stat_appearances">
<% unless (@category == 1 && !(current_user && current_user.can_view_pro?)) %>
<table>
<tr><th colspan=2>先手<th colspan=2>後手<th>対局日<th width=60>棋戦<th width=60>次の手<th width=30>棋譜
<% appearances.each do |appearance| %>
<% game = appearance.game %>
<tr>
<td style="border-right: 0;"><%= game.render_player_name(current_user, @category, true) %><td><%= game.to_result_mark(true) %>
<td style="border-right: 0;"><%= game.to_result_mark(false) %><td><%= game.render_player_name(current_user, @category, false) %>
<td><%= game.date %>
<td><%= game.render_event || game.game_source.name %>
<td><%= appearance.next_move.to_kif %>
<td><% if game.show_kifu?(current_user, @category) %><%= link_to '棋譜', game.game_source.kifu_url_header + game.native_kid.to_s + game.game_source.kifu_url_footer + appearance.num.to_s, :target=>["_blank"], :class=>"external" %><% else %><%= image_tag "denied.png", :style=>"vertical-align:middle;", :title=>(user_signed_in ? "" : "ログインして下さい") %><% end %>
<% end %>
</table>
<% end %>
</div>

</table>
