<% positions.each do |position| %>
<div class="tile_position">
<% if (position.strategy_id) %>
  <%= position.strategy.name %>
<% end %>
<br>
<div style="padding:3px 0;"><%= position.to_board.to_html_table("S").html_safe %></div>
<% if (type == "FIRST_POST" && position.latest_post_id) %>
  <span class="dark_red"><%= position.wikiposts.first.to_past_time %></span><br>
<% elsif (type == "WATCHERS") %>
  <span class="dark_red"><b><%= position.watches.count %></b> リクエスト</span><br>
<% elsif (type == "WATCH") %>
  <div id="watch_<%= position.id.to_s %>"><%= watch_button(position, 'watch_' + position.id.to_s) %></div>
<% end %>
<%= link_to '見る', '/positions/' + position.id.to_s %>
</div>
<% end %>
