<%= render :partial => 'diagram_summary', :locals => { :position => @position } %>

<div id="wiki_edit_buttons">
[<%= link_to '編集キャンセル', {:action => 'show'} %>]
</div>

<h2>編集</h2>
<%= form_for :wikipost, :url => {:controller => 'wikiposts', :action => 'create'} do |f| %>
<%= f.hidden_field :position_id, :value => @position.id %>
<%= f.hidden_field :latest_post_id, :value => session[:latest_post_id] %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.text_area :content, :size => "80x18", :value => session[:wikiedit] %><br>
<%= f.submit 'プレビュー', :name => "preview" %>
　編集内容の説明: <%= f.text_field :comment, :size => 38, :placeholder => "(必須)", :value => session[:wikicomment] %>
<%= f.check_box :minor %>マイナー変更
<%= f.submit '投稿', data: { confirm: "投稿前に内容をよくご確認下さい。\nこの内容で投稿してもよろしいですか？" } %>
<% end %>

<br>
<hr>

<h1>プレビュー</h1>
<%= render :partial => 'wikiposts/interpreter', :locals => { :position_id => @position.id, :content => session[:wikiedit] } %>
