<%= render :partial => 'diagram_summary', :locals => { :position => @position } %>

<div id="wiki_edit_buttons">
[<%= link_to '編集キャンセル', {:action => 'show'} %>]
</div>

<h2>編集</h2>
<% if current_user.wikiposts.count == 0 %><span class="dark_red">※初めての投稿となります。必ず「ヘルプ」ページで解説投稿ルールをご確認下さい。</span><% end %>
<% if !@latest_post_id || @latest_post_id == 0 %><span class="dark_red">※この局面の初版投稿となります。「解説リクエスト」が出ている局面では、参考となるに足りる分量を心がけて下い。</span><% end %>
<%= form_for :wikipost, :url => post_position_path(@position.id) do |f| %>
<%= f.hidden_field :latest_post_id, :value => @latest_post_id %>
<%= f.text_area :content, :size => "80x18", :value => @wikiedit %><br>
<%= f.submit 'プレビュー', :name => "preview" %>
　編集内容の説明: <%= f.text_field :comment, :size => 38, :placeholder => "(必須)", :value => @wikicomment %>
<%= f.check_box :minor %>マイナー変更
<%= f.submit '投稿', data: { confirm: "投稿前に必ずプレビューで内容や書式をよくご確認下さい。\n投稿してもよろしいですか？" } %>
<% end %>

<br>
<hr>

<h1>プレビュー</h1>
<%= render :partial => 'wikiposts/interpreter', :locals => { :position_id => @position.id, :content => @wikiedit } %>
