<h2>局面検索</h2>
<h3>解説記事検索</h3>
<div style="margin-left:35px;">
<%= form_tag 'keyword' do %>
<%= text_field_tag :keyword, '', :size => "30" %><%= submit_tag '検索' %>
<% end %>
</div>
<h3>SFEN検索</h3>
<div style="margin-left:35px;">
<%= form_tag 'show' do %>
<%= text_field_tag :sfen, '', :size => "50" %><%= submit_tag '検索' %>
<% end %>
</div>
<h3>BOD検索</h3>
<div style="margin-left:35px;">
<%= form_tag 'show' do %>
<%= submit_tag '検索' %><br>
<%= text_area_tag :bod, '', :size => "35x15" %>
<% end %>
</div>

