<% content_for :title do %><%= @position.strategy_id ? @position.strategy.name + ' ' : '' %>SFEN=<%= @position.sfen %><% end %>
<% content_for :canonical do %><%= position_url(@position.id) %><% end %>
<%= render :partial => 'diagram_summary', :locals => { :position => @position } %>

<script type="text/javascript">
  function load_statistics(pos_id, category) {
    $('#statistics_ajax').html('<p style="margin-left:50px;"><%= image_tag 'loading-bar.gif' %></p>');
    $.get('/positions/' + pos_id + '/statistics/' + category);
  }
</script>

<h2>棋譜統計</h2>
<div style="margin-left:15px;margin-bottom:5px;">
<% if current_user && current_user.can_select_pro? %><%= radio_button_tag 'category', 1, checked = @category == 1, :onclick => "load_statistics(" + @position.id.to_s + ",1)" %>有名局<% end %>
<%= radio_button_tag 'category', 2, checked = @category == 2, :onclick => "load_statistics(" + @position.id.to_s + ",2)" %>オンライン道場
<%= radio_button_tag 'category', 3, checked = @category == 3, :onclick => "load_statistics(" + @position.id.to_s + ",3)" %>Floodgate
</div>
<div id="statistics_ajax"></div>

<hr>
<div id="wiki_edit_buttons">
[<%= link_to '編集', {:action => 'edit', :id => @position.id} %>]
[<%= link_to '履歴', {:controller => 'wikiposts', :action => 'index', :position_id => @position.id} %>]
[<%= link_to 'ディスカッション(' + @position.discussions.count.to_s + ')', position_discussions_path(@position.id) %>] 
<% if current_user && current_user.can_access_privilege? %>
[<%= link_to '特権機能', privilege_position_path(@position.id) %>]
<% end %>
</div>

<%= render :partial => 'wikiposts/interpreter', :locals => { :position_id => @position.id, :content => @position.latest_post ? @position.latest_post.content : nil } %>

<script type="text/javascript">
$(function(){
  load_statistics(<%= @position.id %>,<%= @category %>);
});
</script>
