<% content_for :title do %><%= @position.strategy_id ? @position.strategy.name + ' ' : '' %>SFEN=<%= @position.sfen %><% end %>
<% content_for :canonical do %><%= position_url(@position.id) %><% end %>
<% if @mynote %>
<div class="notify" style="padding:5px 7px;margin-bottom:0;">この局面にはあなたのマイノートがあります (<%= @mynote.public ? "公開中、コメント" + @mynote.comments.count.to_s + "件、" + @mynote.views.to_s + "ビュー" : "非公開" %>)<br><b>「<%= link_to @mynote.title, note_path(@mynote) %>」</b></div>
<% end %>
<%= render :partial => 'diagram_summary', :locals => { :position => @position } %>

<script type="text/javascript">
  function load_statistics(pos_id, category) {
    $('#statistics_ajax').html('<p style="margin-left:50px;"><%= image_tag 'loading-bar.gif' %></p>');
    $.get('/positions/' + pos_id + '/statistics/' + category);
  }
</script>

<h2>棋譜統計</h2>
<div style="margin-left:15px;margin-bottom:5px;">
<% if current_user && current_user.can_select_pro? %><%= radio_button_tag 'category', 1, checked = @category == 1, :onclick => "load_statistics(" + @position.id.to_s + ",1)" %>有名局<% end %>
<%= radio_button_tag 'category', 2, checked = @category == 2, :onclick => "load_statistics(" + @position.id.to_s + ",2)" %>オンライン道場
<%= radio_button_tag 'category', 3, checked = @category == 3, :onclick => "load_statistics(" + @position.id.to_s + ",3)" %>Floodgate
</div>
<div id="statistics_ajax"></div>

<hr>
<div id="wiki_edit_buttons">
[<%= link_to '編集', {:action => 'edit', :id => @position.id} %>]
[<%= link_to '履歴', {:controller => 'wikiposts', :action => 'index', :position_id => @position.id} %>]
[<%= link_to 'ディスカッション(' + @position.discussions.count.to_s + ')', position_discussions_path(@position.id) %>] 
<% if current_user && current_user.can_access_privilege? %>
[<%= link_to '特権機能', privilege_position_path(@position.id) %>]
<% end %>
</div>

<%= render :partial => 'wikiposts/interpreter', :locals => { :position_id => @position.id, :content => @position.latest_post ? @position.latest_post.content : nil } %>

<% if @referrers.length > 0 %>
<hr style="margin-top:40px;">
<h2>本局面を解説内で参照している他の局面</h2>
<div style="margin-left:20px;margin-top:10px;overflow:hidden;">
<%= render :partial => 'tile', :locals => { :positions => @referrers, :type => "REFERRER", :values => nil } %>
</div>
<% end %>

<hr style="margin-top:40px;">
<h1>マイノート欄</h1>
<% if !user_signed_in? %>
  <div class="level2"><span class="dark_red">マイノートを作成するにはログインして下さい。</span></div>
<% elsif @mynote == nil %>
  <div class="level2"><span class="dark_red">この局面のあなたのマイノートはありません。<%= link_to '新規作成', note_position_path(@position.id) %>して下さい。</span></div>
<% end %>
<% if @notes.length + @referrer_notes.length == 0 %><div class="level2"><p class="dark_red">この局面に関連した公開マイノートはありません。</p></div><% end %>
<% if @notes.length > 0 %>
<h3>この局面の公開マイノート</h3>
<%= render :partial => 'notes/list', :locals => { :notes => @notes, :with_diagram => false, :with_name => true, :with_strategy => false, :with_public => false, :with_views => true } %>
<% end %>
<% if @referrer_notes.length >0 %>
<h3>この局面を参照している他局面のマイノート</h3>
<%= render :partial => 'notes/list', :locals => { :notes => @referrer_notes, :with_diagram => true, :with_name => true, :with_strategy => false, :with_public => false, :with_views => true } %>
<% end %>

<script type="text/javascript">
$(function(){
  load_statistics(<%= @position.id %>,<%= @category %>);
});
</script>
