<%= render :partial => 'diagram_summary', :locals => { :position => @position } %>

<h2>棋譜統計</h2>
<table class="invisible">
<tr><td class="invisible">

<div id="stat_next_moves">
<table>
<tr><th width=60>次の手<th width=50>採用数<th colspan=3 width=150>次の局面
<% @moves.each do |move| %>
<tr>
<td><%= move.to_kif %>
<td><%= move.stat2_total %>
<td style="border-right:0;">
<% unless (move.next_position_id == @position.id) %>
▲<%= move.next_position.stat2_black %>勝 - △<%= move.next_position.stat2_white %>勝<td style="border-right:0;"><%= image_tag "icon-pen.png", :style => "vertical-align:middle;", :title => "解説記事あり" if (move.next_position.latest_post_id) %><td><%= link_to 'Go', "/positions/#{move.next_position_id}" %>
<% else %>
<td style="border-right:0;"><td>
<% end %>
<% end %>
</table>
</div>

<td class="invisible">

<div id="stat_appearances">
<table>
<tr><th colspan=2>先手<th colspan=2>後手<th width=60>棋戦<th width=60>次の手<th width=30>棋譜
<% @appearances.each do |appearance| %>
<% game = appearance.game %>
<tr>
<td style="border-right: 0;"><%= game.black_name %><td><%= game.result == 0 ? "○" : "●" %>
<td style="border-right: 0;"><%= game.result == 0 ? "●" : "○" %><td><%= game.white_name %>
<td><%= game.game_source.name %>
<td><%= appearance.next_move.to_kif %>
<td><%= link_to 'LINK', game.game_source.kifu_url_header + game.native_kid.to_s, :target=>["_blank"] %>
<% end %>
</table>
</div>

</table>

<hr>
<div id="wiki_edit_buttons">
[<%= link_to '編集', {:action => 'edit', :id => @position.id} %>]
[<%= link_to '履歴', {:controller => 'wikiposts', :action => 'index', :position_id => @position.id} %>]
[ディスカッション] 
</div>

<%= render :partial => 'wikiposts/interpreter', :locals => { :position_id => @position.id, :content => @position.latest_post ? @position.latest_post.content : nil } %>
