<table class="invisible">
<tr><td class="invisible">

<div id="position">
<%= @board_table.html_safe %>
</div>

<td class="invisible">

<div style="text-align:right;margin-bottom:10px;">
エクスポート: <button type=button>SFEN</button> <button type=button>BOD</button>
</div>
<div id="summary">
<table>
<tr><th rowspan=3 width=90>分類<td>手合割<td width=200><%= @position.handicap.name %>
<tr><td>最頻到達手<td>
<% if @counts_sorted[0] == 0 %>
開始局面
<% elsif (@prev_moves_sorted[0]) %>
<%= @counts_sorted[0] %>手目 <%= @prev_moves_sorted[0].to_kif %>まで
<% end %>
<tr><td>戦型<td>
<% if @position.strategy %>
<%= @position.strategy.strategy_group.strategy_family.name %> / <%= @position.strategy.strategy_group.name %> / <%= @position.strategy.name %>
<% else %>
-
<% end %>

<tr><th rowspan=2>棋譜統計<br>サマリー<td>プロ<td>▲<%= @position.stat1_black %>勝 - △<%= @position.stat1_white %>勝
<tr><td>オンライン道場<td>▲<%= @position.stat2_black %>勝 - △<%= @position.stat2_white %>勝

<tr><th rowspan=2>局面評価<br>サマリー<br>(Wiki)<td>人間<td>
<tr><td>AI評価値<td>
</table>
</div>
</table>

<h2>棋譜統計</h2>
<table class="invisible">
<tr><td class="invisible">

<div id="stat_next_moves">
<table>
<tr><th width=60>次の手<th width=50>採用数<th colspan=2 width=150>次の局面
<% @moves.each do |move| %>
<tr>
<td><%= move.to_kif %>
<td><%= move.stat2_total %>
<td style="border-right:0;">▲<%= move.next_position.stat2_black %>勝 - △<%= move.next_position.stat2_white %>勝
<td><%= link_to 'Go', "/positions/#{move.next_position_id}" %>
<% end %>
</table>

<td class="invisible">

<div id="stat_appearances">
<table>
<tr><th colspan=2>先手<th colspan=2>後手<th width=60>棋戦<th width=60>次の手<th width=30>棋譜
<% @appearances.each do |appearance| %>
<% game = appearance.game %>
<tr>
<td style="border-right: 0;"><%= game.black_name %><td><%= game.result == 0 ? "○" : "●" %>
<td style="border-right: 0;"><%= game.result == 0 ? "●" : "○" %><td><%= game.white_name %>
<td><%= game.game_source.name %>
<td><%= appearance.next_move.to_kif %>
<td><%= link_to 'LINK', game.game_source.kifu_url_header + game.native_kid.to_s, :target=>["_blank"] %>
<% end %>
</table>
</div>

</table>

<hr>
<div id="wiki_edit_buttons">
[編集] [ディスカッション]
</div>
<h2>解説</h3>
<div class="wiki">
この局面は、、、、、
</div>
<h3>有名局</h3>
<div class="wiki_sub">
1985年 **  vs **
</div>
<h3>類似局面</h3>
<div class="wiki_sub">
端歩を突き合っている形 --->
</div>
<h3>AI評価値</h3>
<div class="wiki_sub">
Bonanza6.0 +239 (確認日:2014/3/21)
</div>

<h2>本局面掲載棋書</h2>
