<% content_for :title do %>
SFEN=<%= @position.sfen %>
<% end %>
<%= render :partial => 'diagram_summary', :locals => { :position => @position } %>

<h2>棋譜統計</h2>
<div style="margin-left:15px;margin-bottom:5px;">
<%= radio_button_tag 'category1', 1, checked = false, :disabled => true  %>プロ 
<%= radio_button_tag 'category2', 2, checked = true %>オンライン道場
</div>
<div id="statistics_ajax"><p style="margin-left:50px;"><%= image_tag 'loading-bar.gif' %></p></div>

<hr>
<div id="wiki_edit_buttons">
[<%= link_to '編集', {:action => 'edit', :id => @position.id} %>]
[<%= link_to '履歴', {:controller => 'wikiposts', :action => 'index', :position_id => @position.id} %>]
[<%= link_to 'ディスカッション', position_discussions_path(@position.id) %> ] 
</div>

<%= render :partial => 'wikiposts/interpreter', :locals => { :position_id => @position.id, :content => @position.latest_post ? @position.latest_post.content : nil } %>

<script type="text/javascript">
$(function(){
  $.get('/positions/<%= @position.id.to_s %>/statistics'); 
});
</script>
