<% content_for :title do %>
<%= @list_title %>
<% end %>
<h2><%= @list_title %></h2>
<br>
<table class="list">
<tr>
<% unless (@without_position) %><th class="list" style="width:120px;">局面<% end %>
<th class="list">編集内容
<% unless (@without_user) %><th class="list">編集者<% end %>
<th class="list">いいね！
<th class="list">投稿日時
<th class="list">リンク
<% @wikiposts.each do |w| %>
<tr>
<% unless (@without_position) %>
  <td class="list"><%= w.position.to_board.to_html_table.html_safe %>
<% end %>
<td class="list" style="text-align:left;padding-left:10px;white-space:normal;">
<% if (!@without_position && w.position.strategy_id) %>
  <span class="dark_green"><%= w.position.strategy.name %></span><br><br>
<% end %>
  <%= w.comment %><br>
　<i><% if (w.adds && w.adds > 0) %><span style="color:blue;">+<%= w.adds %></span><% end %>
     <% if (w.dels && w.dels > 0) %><span style="color:red;">-<%= w.dels %></span><% end %>
<% if (w.minor) %>
 (マイナー変更)
<% end %></i>
<% unless (@without_user) %><td class="list"><%= link_to w.user.username, '/users/' + w.user.id.to_s %><br><%= w.user.to_stars %><% end %>
<td class="list">
<% if !@without_position && current_user && w.user_id != current_user.id %><div id="like_<%= w.id.to_s %>"><%= like_button(w) %></div>
<% elsif (w.likes > 0) %><span class="dark_green"><%= w.likes.to_s %>名</span><% end %>
<td class="list"><%= created_time_ago(w) %>
<td class="list"><%= link_to '差分', '/wikiposts/' + w.id.to_s %>
<% unless (@without_position) %><br><br><%= link_to '局面', '/positions/' + w.position.id.to_s %><% end %>
<% end %>
</table>
