<%= link_to @wikipost.user.username, '/users/' + @wikipost.user.id.to_s %>さんの投稿 (<%= @wikipost.to_local_time %>)

<h2>更新差分</h2>
<% if (current_user && current_user != @wikipost.user) %>
  <div id="like" style="padding-top:5px;padding-left:35px;"><%= like_button(@wikipost) %></div>
<% elsif (@wikipost.reputation_for(:likes).to_i > 0) %>
  <span class="dark_green">あなたの編集に<b><%= link_to @wikipost.reputation_for(:likes).to_i.to_s + '人', '/wikiposts/' + @wikipost.id.to_s + '/likers' %></b>が「いいね！」と言っています</span>
<% end %>
<table class="diff">
<% @wikipost.diff_sets.each do |set| %>
	<% case (set[:line].action) %>
	<% when "!" %>
		<tr class="del"><td class="mark">-<td>
		<% highlight = false
		set[:chars].each do |change|
			if (change.action == "+")
			elsif (change.action == "-" || change.action == "!")
				if (!highlight) %><span class="del"><% end %><%= change.old_element %><% highlight = true
			else
				if (highlight) %></span><% end %><%= change.old_element %><% highlight = false
			end
		end %>
	  <% if (highlight) %></span><% end %>
		<tr class="add"><td class="mark">+<td>
		<% highlight = false
		set[:chars].each do |change|
			if (change.action == "-")
			elsif (change.action == "+" || change.action == "!")
				if (!highlight) %><span class="add"><% end %><%= change.new_element %><% highlight = true
			else
				if (highlight) %></span><% end %><%= change.old_element %><% highlight = false
			end
		end %>
	  <% if (highlight) %></span><% end %>
	<% when "-" %>
		<tr class="del"><td class="mark">-<td><%= set[:line].old_element %>
	<% when "+" %>
		<tr class="add"><td class="mark">+<td><%= set[:line].new_element %>
	<% when "=" %>
		<tr><td class="mark"><td><%= set[:line].old_element %>
	<% end %>
<% end %>
</table>

<hr>
<h1>作成記事</h1>
<div style="margin-left:25px;margin-bottom:8px;">
<% if (@wikipost.position.strategy_id) %><span class="dark_green">戦型: <%= @wikipost.position.strategy.name %></span><% end %>　
[<%= link_to '局面ページに移動', '/positions/' + @wikipost.position_id.to_s %>]
</div>
<div style="width:200px;text-align:left;"><%= @wikipost.position.to_board.to_html_table("S").html_safe %></div>
<% if (current_user && current_user != @wikipost.user) %>
  <div id="like" style="margin-left:35px;margin-top:10px;"><%= like_button(@wikipost) %></div>
<% end %>
<%= render :partial => 'interpreter', :locals => { :position_id => @wikipost.position_id, :content => @wikipost.content } %>
