<%= link_to @wikipost.user.username, '/users/' + @wikipost.user.id.to_s %>さんの投稿 (<%= @wikipost.to_local_time %>)

<h2>更新差分</h2>
<% if current_user %><% if (current_user != @wikipost.user) %>
    <div id="like_<%= @wikipost.id.to_s %>" style="padding-top:5px;padding-left:35px;"><%= like_button(@wikipost) %></div>
  <% elsif (@wikipost.reputation_for(:likes).to_i > 0) %>
    <span class="dark_green">あなたの編集に<b><%= link_to @wikipost.reputation_for(:likes).to_i.to_s + '名', '/wikiposts/' + @wikipost.id.to_s + '/likers' %></b>のユーザが「いいね！」と言っています</span>
<% end %><% end %>
<div style="padding-left:35px;padding-top:7px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= wikipost_url(@wikipost.id) %>" data-text="【<%= SITE_NAME %>】 <%= @wikipost.user.username %>さんによる編集差分: <%= @wikipost.position.handicap.name %><% if @wikipost.position.strategy %>、<%= @wikipost.position.strategy.name %><% end %>" data-count="none" data-lang="ja" data-hashtags="shogi"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div style="margin-top:0;margin-left:35px;">[<%= link_to '局面ページに移動', '/positions/' + @wikipost.position_id.to_s %>]</div>
<table class="diff">
<% @wikipost.diff_sets.each do |set| %>
	<% case (set[:line].action) %>
	<% when "!" %>
	  <% actions = []
	     set[:chars].each do |change|
	       actions << change.action
	     end
	     enable_highlight = actions.include?("=") %>

		<tr class="del"><td class="mark">-<td>
		<% highlight = false
		set[:chars].each do |change|
			if (change.action == "+")
			elsif (enable_highlight && (change.action == "-" || change.action == "!"))
				if (!highlight) %><span class="del"><% end %><%= change.old_element %><% highlight = true
			else
				if (highlight) %></span><% end %><%= change.old_element %><% highlight = false
			end
		end %>
	  <% if (highlight) %></span><% end %>
	  
		<tr class="add"><td class="mark">+<td>
		<% highlight = false
		set[:chars].each do |change|
			if (change.action == "-")
			elsif (enable_highlight && (change.action == "+" || change.action == "!"))
				if (!highlight) %><span class="add"><% end %><%= change.new_element %><% highlight = true
			else
				if (highlight) %></span><% end %><%= change.new_element %><% highlight = false
			end
		end %>
	  <% if (highlight) %></span><% end %>
	 
	<% when "-" %>
		<tr class="del"><td class="mark">-<td><%= set[:line].old_element %>
	<% when "+" %>
		<tr class="add"><td class="mark">+<td><%= set[:line].new_element %>
	<% when "=" %>
		<tr><td class="mark"><td><%= set[:line].old_element %>
	<% end %>
<% end %>
</table>
<div style="margin-left:30px;margin-bottom:10px;">編集コメント: <i><%= @wikipost.comment %></i></div>

<hr>
<h1>作成記事</h1>
<div style="margin-left:25px;margin-bottom:8px;">
<% if (@wikipost.position.strategy_id) %><span class="dark_green">戦型: <%= @wikipost.position.strategy.name %></span><% end %>　
[<%= link_to '局面ページに移動', '/positions/' + @wikipost.position_id.to_s %>]
</div>
<div style="width:200px;text-align:left;"><%= @wikipost.position.to_board.to_html_table.html_safe %></div>
<% if (current_user && current_user != @wikipost.user) %>
  <div id="like_<%= @wikipost.id.to_s %>" style="margin-left:35px;margin-top:10px;"><%= like_button(@wikipost) %></div>
<% end %>
<%= render :partial => 'interpreter', :locals => { :position_id => @wikipost.position_id, :content => @wikipost.content } %>
