<h2><%= @user.username %>さんのページ</h2>
<% if (current_user) %>
<div id="follow_1" style="margin-left:30px;margin-top:10px;"><%= follow_button(@user, "follow_1") %></div>
<% end %>
<ul>
<li><%= link_to "コントリビューション", '/wikiposts/list_usr/' + @user.id.to_s %>: <%= @user.wikiposts.pluck(:id).length %>件
<% if (!current_user) %><li>フォロワー: ○○人<% end %>
<li>編集ポイント(ランク):
<li>紹介文:
<li>ウェブサイト:
<li>棋力:
<li>得意戦型:
</ul>

<hr>

<% if (current_user && current_user.id == @user.id) %>
<h2>フォロー中の相手</h2>
<table class="invisible" style="margin-left:30px;">
<% @user.following_users.each do |followed| %>
<tr><td style="border:0;padding:3px;"><%= link_to followed.username, '/users/' + followed.id.to_s %>
<td style="border:0;padding:3px;text-align:left;"><div id="follow_<%= followed.id.to_s %>"><%= follow_button(followed, 'follow_' + followed.id.to_s) %></div>
<% end %>
</table>

<h2>ウォッチ中の局面</h2>
<%= render :partial => 'positions/tile', :locals => { :positions => @user.watching_positions, :type => 'WATCH' } %>



<% end %>
