<h2><%= @user.username %>さんのページ</h2>
<table class="invisible" style="margin-left:30px;">
<tr><td class="invisible" style="text-align:left;white-space:normal;">
<% if (current_user) %>
<div id="follow_1"><%= follow_button(@user, "follow_1") %></div>
<% end %>

<div style="width:300px;">
<ul style="line-height:1.5em;">
<li><span class="dark_red"><%= @user.to_rank_name %></span> <%= @user.to_stars %>
<li>編集EXP: <b><%= @user.point * 10 %></b> ポイント
<li>コントリビューション: <b><%= link_to @user.wikiposts.pluck(:id).length.to_s + '件', '/wikiposts/list_usr/' + @user.id.to_s %></b>
<li>フォロワー: <b>
  <% if (current_user && current_user == @user) %>
    <%= link_to @user.followers.pluck(:id).length.to_s + '人', '/users/' + @user.id.to_s + '/followers' %>
  <% else %>
    <%= @user.followers.pluck(:id).length %>人
  <% end %></b>
<li>棋力: <%= @user.strength %>
<li>得意戦型: <%= @user.style %>
<li>サイト: <%= link_to @user.url, @user.url %>
<% if (@user.description) %><li><%= @user.description %><% end %>
</ul>
</div>

<td class="invisible" style="vertical-align:middle;padding-left:35px;">
<% if (@user.name81 && @user.name81 != "") %>
<embed src="http://81dojo.com/dojo/EightyOneWidget.swf" FlashVars="name=<%= @user.name81 %>&hide=false&lan=ja" wmode="transparent" type="application/x-shockwave-flash" bgcolor="#ffffff" pluginspage="http://www.adobe.com/go/getflashplayer_jp" height="185" width="160">
<% end %>

</table>

<hr>

<% if (current_user && current_user.id == @user.id) %>
<h2>フォロー中の相手</h2>
<%= render :partial => 'list', :locals => { :users => @user.following_users } %>

<h2>ウォッチ中の局面</h2>
<%= render :partial => 'positions/tile', :locals => { :positions => @user.watching_positions, :type => 'WATCH' } %>



<% end %>
