<h2><%= @user.username %>さんのページ　<%= card_img_tag(@user) %></h2>
<table class="invisible" style="margin-left:30px;">
<tr><td class="invisible" style="text-align:left;white-space:normal;">
<% if (current_user && current_user != @user) %>
<div id="follow_<%= @user.id %>"><%= follow_button(@user) %></div>
<% end %>

<div style="width:300px;">
<ul style="line-height:1.5em;list-style-type:square;">
<li><span class="dark_red"><%= @user.to_rank_name %></span> <%= @user.to_stars %><br>(ユーザクラス: <%= @user.to_role_name %>)
<li>編集EXP: <b><%= @user.point * 10 %></b> ポイント
<li>コントリビューション: <b><%= link_to @user.wikiposts.pluck(:id).length.to_s + '件', user_wikiposts_path(@user.id) %></b>
<li>フォロワー: <b>
  <% if (current_user && current_user == @user) %>
    <%= link_to @user.followers.pluck(:id).length.to_s + '人', followers_user_path(@user.id) %>
  <% else %>
    <%= @user.followers.pluck(:id).length %>人
  <% end %></b>
<li>棋力: <%= @user.strength %>
<li>得意戦型: <%= @user.style %>
<li>サイト: <% if @user.url %><%= link_to @user.url, @user.url %><% end %>
<% if (@user.description) %><li><%= @user.description %><% end %>
</ul>
</div>

<td class="invisible" style="vertical-align:middle;padding-left:35px;">
<% if (@user.name81 && @user.name81 != "") %>
<embed src="http://81dojo.com/dojo/EightyOneWidget.swf" FlashVars="name=<%= @user.name81 %>&hide=false&lan=ja" wmode="transparent" type="application/x-shockwave-flash" bgcolor="#ffffff" pluginspage="http://www.adobe.com/go/getflashplayer_jp" height="185" width="160">
<% end %>

</table>

<hr>
<% if current_user && current_user.can_access_privilege? && @user.role == 0 && @user.card != 0 && @user.id != current_user.id %>
<br>
<h3>ユーザ管理機能</h3>
<div style='margin-left:30px;'>
<%= button_to 'このユーザのブルーカードを解除', card_user_path(@user.id, :color => 2), data: { confirm: "実行して宜しいですか?" }, style: 'margin-bottom:5px;' if (@user.card == 1) %>
<%= button_to 'このユーザにイエローカードを出す', card_user_path(@user.id, :color => 3), data: { confirm: "実行して宜しいですか?" }, style: 'margin-bottom:5px;' if (@user.card == 1 || @user.card == 2) %>
<%= button_to 'このユーザのイエローカードを解除', card_user_path(@user.id, :color => 2), data: { confirm: "実行して宜しいですか?" }, style: 'margin-bottom:5px;' if (@user.card == 3) %>
<%= button_to 'このユーザにオレンジカードを出す', card_user_path(@user.id, :color => 4), data: { confirm: "実行して宜しいですか?" }, style: 'margin-bottom:5px;' if (@user.card >= 1 && @user.card <= 3) %>
<%= button_to 'このユーザのオレンジカードを解除', card_user_path(@user.id, :color => 3), data: { confirm: "実行して宜しいですか?" }, style: 'margin-bottom:5px;' if (@user.card == 4) %>
<%= button_to 'このユーザにブラックカードを出す', card_user_path(@user.id, :color => 5), data: { confirm: "実行して宜しいですか?" }, style: 'margin-bottom:5px;' if (current_user.is_admin? && @user.card != 5) %>
</div>
<% end %>

<% if (current_user && current_user.id == @user.id) %>
<h2>フォロー中の相手</h2>
<%= render :partial => 'list', :locals => { :users => @user.following_users } %>

<h2>ウォッチ中の局面</h2>
<%= render :partial => 'positions/tile', :locals => { :positions => @user.watching_positions, :type => 'WATCH' } %>



<% end %>
