<!DOCTYPE html>
<html>
<head>
  <title><%= SITE_NAME %><%= " / " + yield(:title) if content_for?(:title) %></title>
  <meta name="description" content="将棋の局面を介してあらゆる情報が集結するユーザ参加型ナレッジ集約サイト「局面ペディア」。任意の局面を検索して、勝敗数、候補手、採用割合、有名局、棋書の該当ページ、ソフト評価値などの様々な情報をまとめてチェック！">
  <meta name="keywords" content="将棋,局面,棋譜,データベース">
  <% if content_for?(:canonical) %>
    <link rel="canonical" href="<%= yield(:canonical) %>">
    <meta property="og:url" content="<%= yield(:canonical) %>">
  <% end %>
  <meta property="og:title" content="<%= SITE_NAME %><%= " / " + yield(:title) if content_for?(:title) %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="将棋の局面を介してあらゆる情報が集結するユーザ参加型ナレッジ集約サイト「局面ペディア」。任意の局面を検索して、勝敗数、候補手、採用割合、有名局、棋書の該当ページ、ソフト評価値などの様々な情報をまとめてチェック！">
  <meta property="og:image" content="<%= image_url('logo-off.png') %>">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="root">
<div id="wrapper">

<div id="side_column">
<center>
<%= link_to image_tag('logo-off.png', :id => 'logo'), '/' %>
<br><span class="dark_red">beta</span>
</center>
<ul class="sidemenu">
<li><%= link_to 'トップ', '/' %>
<li class="new_section"><%= link_to '局面検索・戦型ツリー', search_positions_path %>
<li class="new_section"><%= link_to '編集員のオススメ', '/positions/list/pic' %>
<li><%= link_to '解説リクエスト局面', '/positions/list/req' %>
<li><%= link_to 'いま人気の局面', '/positions/list/hot' %>
<li><%= link_to '新しい局面', '/positions/list/new' %>
<li><%= link_to '最新の編集', wikiposts_path %>
<li><%= link_to '最新ディスカッション', '/discussions' %>
<li class="new_section"><%= link_to '編集ランキング', '/users/ranking' %>
<li class="new_section"><%= link_to 'サイト紹介', pages_about_path %>
<li><%= link_to 'ヘルプ', pages_help_path %>
<li><%= link_to '利用規約', pages_terms_path %>
<li><%= link_to '運営フォーラム', 'https://groups.google.com/forum/#!forum/kyokumenpedia', :target => '_blank' if (current_user) %>
</ul>
<% if (notice || alert) %>
<div id="alert_box">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
<% end %>
<% if user_signed_in? %>
<div id="user_panel">
<strong>ユーザメニュー</strong><br>
<ul class="my_menu">
<li><%= link_to "マイページ", user_path(current_user.id) %>
<li><%= link_to "編集履歴", user_wikiposts_path(current_user.id) %>
<li><%= link_to "登録情報変更", edit_user_registration_path %>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</ul>
<div style="padding-right:7px;padding-bottom:5px;text-align:right;">
<%= card_img_tag(current_user) %>
<b><span class="dark_red"><%= current_user.point * 10 %></span></b> EXP<br>
<%= current_user.to_rank_name %>
</div>
</div>
<% end %>
</div>

<div id="main">

<div id="header">
<% if user_signed_in? %>
  <strong><%= current_user.username %></strong>さん<%= current_user.to_stars %> ログイン中 | 
  <%= link_to '閲覧履歴', '/positions/list/mem' %> | 
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
 | <%= link_to "アカウント登録", new_user_registration_path %> |
  <%= link_to "ログイン", new_user_session_path, :class => 'navbar-link' %> |
<% end %>
</div>

<div id="contents">
<%= yield %>
</div>

</div>

</div>
<div id="footer">
<center>
<table class="invisible">
<tr><td style="border:0;padding:0 15px 0 0;"><%= image_tag 'is3-logo-small.png' %>
<td style="border:0;padding:0;text-align:left;">(c) Team ISCube, All rights reserved.<br>Innovative Shogi Information System Initiation Scheme
</table>
</center>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-58230412-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
