<!DOCTYPE html>
<html>
<head>
  <title><%= SITE_NAME %><%= " / " + yield(:title) if content_for?(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="root">
<div id="wrapper">

<div id="side_column">
<center>
<%= link_to image_tag('logo-off.png', :id => 'logo'), '/' %>
</center>
<ul class="sidemenu">
<li><%= link_to 'トップ', '/' %>
<li class="new_section"><%= link_to '局面検索・戦型ツリー', search_positions_path %>
<li class="new_section"><%= link_to '編集員のオススメ', '/positions/list/pic' %>
<li><%= link_to '解説リクエスト局面', '/positions/list/req' %>
<li><%= link_to 'いま人気の局面', '/positions/list/hot' %>
<li><%= link_to '新しい局面', '/positions/list/new' %>
<li><%= link_to '最新の編集', wikiposts_path %>
<li class="new_section"><%= link_to '編集ランキング', '/users/ranking' %>
<li class="new_section"><%= link_to 'サイトコンセプト', pages_about_path %>
<li><%= link_to 'ヘルプ', pages_help_path %>
<li><%= link_to '利用規約', pages_terms_path %>
</ul>
<% if (notice || alert) %>
<div id="alert_box">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
<% end %>
<% if user_signed_in? %>
<div id="user_panel">
<strong>ユーザメニュー</strong><br>
<ul class="my_menu">
<li><%= link_to "マイページ", user_path(current_user.id) %>
<li><%= link_to "編集履歴", user_wikiposts_path(current_user.id) %>
<li><%= link_to "登録情報変更", edit_user_registration_path %>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</ul>
<div style="padding-right:7px;padding-bottom:5px;text-align:right;">
<b><span class="dark_red"><%= current_user.point * 10 %></span></b> EXP<br>
<%= current_user.to_rank_name %>
</div>
</div>
<% end %>
</div>

<div id="main">

<div id="header">
<% if user_signed_in? %>
  <strong><%= current_user.username %></strong>さん<%= current_user.to_stars %> ログイン中 | 
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
 | <%= link_to "アカウント登録", new_user_registration_path %> |
  <%= link_to "ログイン", new_user_session_path, :class => 'navbar-link' %> |
<% end %>
</div>

<div id="contents">
<%= yield %>
</div>

</div>

</div>
<div id="footer">
<center>
<table class="invisible">
<tr><td style="border:0;padding:0 15px 0 0;"><%= image_tag 'is3-logo-small.png' %>
<td style="border:0;padding:0;text-align:left;">(c) Team ISCube, All rights reserved.<br>Innovative Shogi Information System Initiation Scheme
</table>
</center>
</div>
</body>
</html>
