<!DOCTYPE html>
<html>
<head>
  <title>Kyokumenpedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="root">
<div id="wrapper">

<div id="side_column">
<center>
<%= link_to image_tag('logo.png', :width => 100), '/' %>
</center>
<ul class="sidemenu">
<li><%= link_to 'トップ', '/' %>
<li class="new_section"><%= link_to '局面検索', positions_search_path %>
<li class="new_section"><%= link_to 'いま注目の局面', '/positions/list/hot' %>
<li><%= link_to '解説リクエスト局面', '/positions/list/req' %>
<li><%= link_to '新しい局面', '/positions/list/new' %>
<li><%= link_to '最新の編集', wikiposts_path %>
<li class="new_section">サイトコンセプト
<li><%= link_to '編集方法ヘルプ', pages_help_path %>
<li>利用規約
</ul>
<% if (notice || alert) %>
<div id="alert_box">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
<% end %>
<% if user_signed_in? %>
<div id="user_panel">
<strong><%= current_user.username %></strong>さん<br>
<ul class="sidemenu">
<li>タイムライン
<li><%= link_to "コントリビューション", '/wikiposts/list_usr/' + current_user.id.to_s %>
<li><%= link_to "マイページ", '/users/' + current_user.id.to_s %>
<li><%= link_to "登録情報変更", edit_user_registration_path %>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</ul>
</div>
<% end %>
</div>

<div id="main">

<div id="header">
<% if user_signed_in? %>
  <strong><span style="color:blue;"><%= current_user.email %></span></strong>でログイン中 | 
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
 | <%= link_to "アカウント登録", new_user_registration_path %> |
  <%= link_to "ログイン", new_user_session_path, :class => 'navbar-link' %> |
<% end %>
</div>

<div id="contents">
<%= yield %>
</div>

</div>

</div>
<div id="footer">
(c) Team ISCube, All rights reserved.<br>Innovative Shogi Information System Initiation Scheme
</div>
</body>
</html>
